@font-face{
	font-family: 'FonteTeste';
	src: url(../_fonts/bubblegum-sans-regular.otf);
}

body{
	font-family: Arial, Helvetica, sans-serif;
	background: url(../_imagens/background.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: rgb(255,255,255); 
}

#interface{
	background-color: rgb(25,25,5);
	width: 900px;
	margin: 0px auto 0px auto;
	padding: 10px;
	box-shadow: 0px 0px 25px rgba(0,0,0,.8);
}

#cabecalho{
	border-bottom: 1px #1E90FF solid;
	height: 150px;
	background: url(../_imagens/testef12.png) no-repeat 0px 80px;
}

#corpo {
	display: block;
	width: 485px;
	float: left;
	border-right: 1px solid #1E90FF;
	padding: 0px 15px 15px 0px; */
}

#lateral {
	display: block;
	width: 349px;
	float: right;
	padding: 20px;
	background-color: #ddd;
	margin-top: 10px;
}

#lateral h1{
	font-family: 'FonteTeste', sans-serif;
	font-stretch: 20pt;
	color: #606060;
	margin-top: 0px;
}

#lateral h2{
	background-color: #606060;
	font-size: 16pt;
	color: #fff;
	padding: 5px;
}

#rodape{
	clear:both;
	border-top: 1px solid #1E90FF;
}

#rodape p{
	text-align: center;
	padding-top: 15px;
}

#menu{
	display:block;
}

#menu ul{
	list-style: none; /* retirar estilo(marcações da lista(as bolinha preta))*/
	text-transform: uppercase; /*texto maisculo*/
	float: right; /*fluar a direita*/
	padding: 0px; /* espaçamento interno */
	margin: 0px; /* espaçamento externo */
	top: -25px; /* aproximançao com o topo (se negativo)*/
}

#menu li{
	display: inline-block; /* alinhar itens lado a lado*/
	background-color: rgb(100,100,90);
	padding: 10px; /* distgancia entre itens da lista*/
	margin: 2px; /*expaçamento externo(entre os itens)*/
	color: #000080;
}

#menu li:hover{
	background-color: #606060;
	transition: background 1s; /* a mudança de background cai demorar um segundo*/
	color: #1E90FF;
}

#menu a{
	color: #000; /* cor do texto do link*/
	text-decoration: none; /* tira o sublinhado do link*/
}

#icone{
	position: relative; /* apartir de onde a imagem esta */
	top: -20px; /* sobe a imagem*/
	left: 780px; /* desloca da esquerda para a direita */
}

#cabecalho h1{
	font-family: 'FonteTeste', sans-serif;
	font-size: 30pt; /* tamanho da fonte*/
	color:#838B83; /* cor da fonte */
	margin-bottom: 0px; /* espaçamento interno inferior*/
	padding: 0px; /* espaçamento interno */
}

#noticia h2{
	font-size: 12pt;
	color: #606060;
	background-color: #ddd;
	padding: 5px 0px 5px 10px;
	margin: 5px 0px 5px 10px;
}

#noticia h1{
	font-family: 'FonteTeste', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

#noticia h3{
	font-size: 9pt;
	color: #606060;
}

p{
	text-align:justify;
	text-indent: 50px;
}

#foto-legenda{
	position: relative; /* considerar o local onde esta e nao o local de pagina*/
	border: 8px solid #fff;
	box-shadow: 0px 0px 0px 10px #999999;
}

#foto-legenda img{
	width: 100%;
	height: 100%;
}

#foto-legenda h3{
	color: #fff;
}

#foto-legenda figcaption{
	opacity: 0;
	position: absolute; /*ficou flutuande*/
	top: 0px; /*parte mais alto do quadro*/
	background-color: rgba(0,0,0,.4); /* fundo da legenda*/ 
	width: 100%;
	height: 100%;
	color: #fff;
	padding: 10px;
	box-sizing: border-box; /* pra ficar igual a caixa externa*/
	transition: opacity 1s; /* 1s segundo pra a opacidade ficar igual a zero */
}

#foto-legenda:hover figcaption{
	opacity: 1; /* ao passar mouse na foto, opacidade vai para 1 */
}

#tabela{
	border: 1px solid #606060;
	border-spacing: 0px; /* espaçamento da borda ao texto */
	margin-left: auto;
	margin-right: auto; 
}

#tabela td{
	border: 1px solid #606060;
	padding: 10px;
	vertical-align: top; /* alinhamento na vertical pelo topo */
}

#tabela .cd{
	background-color: #cecece;
}

#tabela .ce{
	color: #fff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
	text-align: right;
}

#frame-spec{ /* iframe*/
	width: 380px;  /* largura */
	height: 280px; /* altura */
	border: none;  /* sem borda */
}